body {
	position: relative;
}
.default-header {
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}
.menu-bar {
	cursor: pointer;
	span {
		color: $black;
		font-size: 24px;
	}
	a{
		color:$primary-color;
	}
}

@include media-breakpoint-down (sm) {
	.main-menubar{
		a{
			color:$white;
			&:hover{
				color:$black;
			}
		}
	}
}

.main-menubar {
	position: fixed;
}
nav {
	margin-right: 70px;
	@include media-breakpoint-down (sm) {
		margin-right: 0;
		position: fixed;
		right: 0;
		top: 47px;
		text-align: right;
		padding: 20px 0;
		z-index: 5;
		background: $primary-color;
	}
	@include transition();
	 transform-origin: 100% 50%;
	&.hide {
		transform: scale(0);
	}
	a {
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		color: $black;
		margin: 0 25px;
		display: inline-block;
		@include media-breakpoint-down (sm) {
			margin: 5px 25px;
		}
		&:hover {
			color: $primary-color;
		}
	}
}
