<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.0/aframe/build/aframe-ar.js"></script>
<body style='margin : 0px; overflow: hidden;'>
	<a-scene embedded arjs>
		<a-marker-camera type='pattern' url='path/to/pattern-marker.patt'></a-marker-camera>
		<a-marker-camera type='pattern' url='path/to/pattern-marker.patt'></a-marker-camera>
	</a-scene>
</body>